/* *-- the foundation to the snowman body -- */
.bottom-snowball {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 555px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);

}

.middle-snowball {
    width: 325px;
    height: 325px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 325px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    
}

.top-snowball {
    width: 240px;
    height: 240px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    bottom: 190px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
}

/* *-- snowman buttons -- */

.buttons-one {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.button-two {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
}

.button-three {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
}

/* *-- snowman eyes -- */

.left-eye {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 200px;
    left: 46%;
}

.right-eye {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 225px;
    left: 51%;
}

/* *-- snowman carrot nose -- */
.carrot-nose {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 30px solid orange;
    border-radius: 25px 25px 25px 10px;
    position: relative;
    left: 860px;
    bottom: 200px;
    transform: translateX(-50%);
}

/* *-- snowman branch arms -- */
.leftbranch-arm {
    width: 200px;
    height: 13px;
    background-color: rgb(107, 22, 22);
    position: relative;
    left: 625px;
    bottom: 50px;
    transform: rotate(-30deg);
    z-index: -1;
}

.rightbranch-arm {
    width: 200px;
    height: 13px;
    background-color: rgb(107, 22, 22);
    position: relative;
    left: 1065px;
    bottom: 65px;
    transform: rotate(30deg);
    z-index: -1;
}

/* *-- page background -- */
body {
    background-color: #64acc9;
    height: 910px;
}